<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

  <title><%= meta.title %></title>
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="description" content="<%= meta.description %>">
  <meta property="og:title" content="<%= meta.title %>">
  <meta name="twitter:title" content="<%= meta.title %>">
  <meta property="og:site_name" content="<%= meta.title %>">
  <meta property="og:description" content="<%= meta.description %>">
  <meta name="twitter:description" content="<%= meta.description %>">
  <meta property="og:url" content="<%= meta.url %>">
  <meta name="twitter:site" content="<%= meta.url %>">
  <meta property="og:image" content="<%= meta.url %>/assets/images/ogp.jpg">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no,address=no,email=no">	
  <meta name="twitter:site" content="" />
    
  <link rel="canonical" href="<%= meta.url %>">

  <!-- favicon -->

  <!-- fonts -->
  <link rel="stylesheet" href="<%= meta.filePath %>assets/css/style.min.css">
</head>

<body id="<%= meta.id %>" class="p-<%= meta.id %>">